  <table class="table table-sm table-striped">
  <tr>
    <th><%= smart_listing.sortable "Part", :part %></th>
    <th><%= smart_listing.sortable "Description", :description %></th>
    <th><%= smart_listing.sortable "Shape", :shape %></th>
    <th><%= smart_listing.sortable "Color", :color %></th>
    <th><%= smart_listing.sortable "Coating", :coating %></th>
    <th><%= smart_listing.sortable "Manufacturer", :mfg %></th>
  </tr>
  <% smart_listing.collection.each do |part| %>
    <tr class="editable" data-id="<%= part.id %>">
      <%= smart_listing.render(object: part, partial: "parts/part", locals: {object: part}) %>
    </tr>
  <% end %>
  <tr><%= smart_listing.item_new colspan: 7, link: new_part_path %></tr>
  </table>
  <%= smart_listing.paginate %>
