<!DOCTYPE html>
<html>
<head>
<style>
.btn:hover {
  background-color:#cbdb2a
}
.btn:focus {
  background-color:#cbdb2a
}
</style>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li><%= link_to 'Lots View', jobs_path %></li>
    <li><%= link_to 'New Lot', new_job_path %></li>
    <li class="active"><%= link_to 'Parts View', parts_path %></li>
    <li><%= link_to 'New Part', new_part_path %></li>
</ul>

<div class="form-group well" style="border:none; margin-left:-15px">
  <%= search_form_for @q do |form| %>
  <div class=row>
    <div class=col-3><%= form.search_field :part_or_description_or_shape_or_coating_or_color_or_mfg, :class => "form-control" %></div>
    <div class=col><%= form.submit :class => "btn btn-dark" %></div>
  </div>
  <% end %>
</div>

<table class="table table-sm table-striped" style=margin-top:-20px>
<tr>
  <th><%= sort_link @q, :part, "Part" %></th>
  <th><%= sort_link @q, :description, "Description" %></th>
  <th><%= sort_link @q, :shape, "Shape"  %></th>
  <th><%= sort_link @q, :color, "Color"  %></th>
  <th><%= sort_link @q, :coating, "Coating" %></th>
  <th><%= sort_link @q, :mfg, "Manufacturer" %></th>
  <th>Actions<th>
</tr>
<% @parts.each do |part| %>
<tr>
  <td><%= link_to part.id, edit_part_path(part) %></td>
  <td><%= part.description %></td>
  <td><%= part.shape %></td>
  <td><%= part.color %></td>
  <td><%= part.coating %></td>
  <td><%= part.mfg %></td>
  <td width="4%"><div>
    <!-- <%= link_to 'Edit', edit_part_path(part), class: 'btn btn-dark btn-xs' %> -->
    <%= link_to 'Delete', part, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-xs' %>
  </div></td>
</tr>
<% end %>
</table>


</body>
</html>
