<%= javascript_include_tag('haze_gain.js') %>
<%= simple_form_for @job do |form| %>
<div class='form-group well'>
  <legend>Observational</legend>
  <div class='row form-group'>
    <div class='col'><%= form.input :visual_inspection, label: "Visual Inspection" ,placeholder: "Inspect #{@quantity_t4} Samples & Record Observations" %></div>
    <div class='col-2'><%= form.input :visual_inspection_assess, as: :select, collection: [['Pass', true],['Fail', false]], label: "Assessment", prompt: "" %></div>
  </div>
</div>

<div class='form-group well'>
  <legend>Transmission</legend>
  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'><%= (n == 1) ? (form.label :"vlt_#{n}", "Luminous Transmittance") : (form.label :"vlt_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"vlt_#{n}", placeholder: "VLT S#{n}", label: false %></div>
    <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'>
        <%= (n == 1) ? (form.label :"chromaticity_x_#{n}", "Chromaticity") : (form.label :"chromaticity_x_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"chromaticity_x_#{n}", placeholder: "X Coordinate S#{n}", label: false %>
        <%= form.label :"chromaticity_y_#{n}", label: '&nbsp;'.html_safe %><%= form.input :"chromaticity_y_#{n}", placeholder: "Y Coordinate S#{n}", label: false %>
      </div>
      <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'><%= (n == 1) ? (form.label :"neutrality_#{n}", "Neutrality") : (form.label :"neutrality_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"neutrality_#{n}", placeholder: "Neutrality S#{n}", label: false %></div>
    <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'><%= (n == 1) ? (form.label :"uv_#{n}", "Maximum Ultraviolet Transmission") : (form.label :"uv_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"uv_#{n}", placeholder: "UV S#{n}", label: false %></div>
    <% end %>
  </div>
</div>

<div class='form-group well'>
  <legend>MCEPS Abrasion</legend>
  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'><%= (n == 1) ? (form.label :"haze_initial_#{n}", "Initial Haze") : (form.label :"haze_initial_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"haze_initial_#{n}", placeholder: "Initial S#{n}", label: false %></div>
    <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'><%= (n == 1) ? (form.label :"haze_abraded_#{n}", "Abraded Haze") : (form.label :"haze_abraded_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"haze_abraded_#{n}", placeholder: "Abraded S#{n}", label: false %></div>
    <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'><%= (n == 1) ? (form.label :"haze_gain_#{n}", "Haze Gain") : (form.label :"haze_gain_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"haze_gain_#{n}", placeholder: "Gain S#{n}", label: false %></div>
    <% end %>
  </div>
</div>

<div class='form-group well'>
  <legend>Optics</legend>
  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'>
        <%= (n == 1) ? (form.label :"resolving_left_#{n}", "Resolving Power") : (form.label :"resolving_left_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"resolving_left_#{n}", placeholder: "Left S#{n}", label: false %>
        <%= form.label :"resolving_right_#{n}", label: '&nbsp;'.html_safe %><%= form.input :"resolving_right_#{n}", placeholder: "Right S#{n}", label: false %>
      </div>
      <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'>
        <%= (n == 1) ? (form.label :"refractive_left_#{n}", "Refractive Power") : (form.label :"refractive_left_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"refractive_left_#{n}", placeholder: "Left S#{n}", label: false %>
        <%= form.label :"refractive_right_#{n}", label: '&nbsp;'.html_safe %><%= form.input :"refractive_right_#{n}", placeholder: "Right S#{n}", label: false %>
      </div>
      <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'>
        <%= (n == 1) ? (form.label :"astigmatism_left_#{n}", "Astigmatism") : (form.label :"astigmatism_left_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"astigmatism_left_#{n}", placeholder: "Left S#{n}", label: false %>
        <%= form.label :"astigmatism_right_#{n}", label: '&nbsp;'.html_safe %><%= form.input :"astigmatism_right_#{n}", placeholder: "Right S#{n}", label: false %>
      </div>
      <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'>
        <%= (n == 1) ? (form.label :"horizontal_left_#{n}", "Horizontal Prism") : (form.label :"horizontal_left_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"horizontal_left_#{n}", placeholder: "Left S#{n}", label: false %>
        <%= form.label :"horizontal_right_#{n}", label: '&nbsp;'.html_safe %><%= form.input :"horizontal_right_#{n}", placeholder: "Right S#{n}", label: false %>
      </div>
      <% end %>
  </div>

  <div class='row form-group'>
    <% (1..@quantity_t1).each do |n| %>
      <div class='col'>
        <%= (n == 1) ? (form.label :"vertical_left_#{n}", "Vertical Prism") : (form.label :"vertical_left_#{n}", label: '&nbsp;'.html_safe) %><%= form.input :"vertical_left_#{n}", placeholder: "Left S#{n}", label: false %>
        <%= form.label :"vertical_right_#{n}", label: '&nbsp;'.html_safe %><%= form.input :"vertical_right_#{n}", placeholder: "Right S#{n}", label: false %>
      </div>
      <% end %>
  </div>
</div>

<%= form.button :submit, "Save Tests", class: "btn btn-success" %>
<% end %>
