<table class="table table-sm table-striped">
  <tr>
    <th><%= smart_listing.sortable "WV/PV", :id %></th>
    <th><%= smart_listing.sortable "Part", :part_id %></th>
    <th><%= smart_listing.sortable "Description", :description %></th>
    <th><%= smart_listing.sortable "Lot Quantity", :lot_quantity %></th>
    <th><%= smart_listing.sortable "Test Quantity", :test_quantity %></th>
    <th><%= smart_listing.sortable "Create Date", :created_at %></th>
    <th><%= smart_listing.sortable "Status", :lot_complete %></th>
    <th>Actions</th>
  </tr>
  <% smart_listing.collection.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= job.part_id %></td>
    <td><%= job.part.description %></td>
    <td><%= job.lot_quantity %></td>
    <td><%= job.test_quantity %></td>
    <td><%= job.created_at.strftime("%B %d, %Y") %></td>
    <td><%= job.lot_complete ? "Complete" : "In Progress" %>
    <td width="15%"><div>
      <%= link_to 'Show', job, class: 'btn btn-dark btn-xs' %>
      <%= link_to 'Test', edit_job_path(job), class: 'btn btn-dark btn-xs' %>
      <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-xs' %>
    </div>
    </td>
  </tr>
  <% end %>
</table>
<%= smart_listing.paginate %>
