<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to 'Jobs View', jobs_path %></li>
      <li><%= link_to 'New Job', new_job_path %></li>
      <li><%= link_to 'Parts View', parts_path %></li>
      <li><%= link_to 'New Part', new_part_path %></li>
      <li><%= link_to 'Show Job', job_path(@job) %></li>
      <li class="active"><%= link_to "Test Job: #{ @job.part.description}" %></li>
  </ul>
  <%= form_with(model: @job, local: true) do |form| %>
    <% if @job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
        <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-group well" style="margin-top:2%">
  <legend>
    <div class="row">
      <div class="col-xs-8 text-left">
        <p>Manufacturing</p>
      </div>
      <div class="col-xs-4 text-right">
         <button type="button" class="btn btn-primary test_toggle" data-toggle="collapse" data-target="#mfg"><span class="glyphicon glyphicon-minus"></span></button>
      </div>
    </div>
  </legend>
  <div id="mfg" class="collapse in">
    <div class="row form-group">
      <div class="col"><%= form.label :id%><%= form.text_field :id, class: 'form-control'%></div>
      <div class="col"><%= form.label :part_id%><%= form.text_field :part_id, class: 'form-control'%></div class="col">
      <div class="col"><%= form.label :line%><%= form.text_field :line, class: 'form-control' %></div class="col">
      <div class="col"><%= form.label :coat_date%><%= form.date_field :coat_date, class: 'form-control'%></div class="col">
      <div class="col"><%= form.label :coat_time%><%= form.time_field :coat_time, class: 'form-control'%></div class="col">
    </div>

    <div class="row form-group">
      <div class="col"><%= form.label :lot_quantity%><%= form.text_field :lot_quantity, class: 'form-control'%></div class="col">
      <div class="col"><%= form.label :test_quantity%><%= form.text_field :test_quantity, class: 'form-control'%></div class="col">
      <div class="col"><%= form.label :bin%><%= form.text_field :bin, class: 'form-control'%></div class="col">
      <div class="col"><%= form.label :mfg_int%><%= form.text_field :mfg_int, class: 'form-control'%></div class="col">
      <div class="col" style="padding-top: 24px"><%= form.submit class: "btn btn-primary btn-block"%></div>
    </div>
  </div>
  </div>

  <% end %>

  <% if @quantity_t1 %>
    <%= render :partial  => 'jobs/base_tests.html.erb'%>
  <% end %>


</div>
</body>
</html>
