<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', jobs_path %></li>
  <li><%= link_to 'New Job', new_job_path %></li>
</ul>

<table class="table table-sm table-striped">
  <tr>
    <th>WV/PV</th>
    <th>Part</th>
    <th>Description</th>
    <th>Lot Quantity</th>
    <th class=text-right>Actions</th>
    <th></th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= job.wv %></td>
    <td><%= job.part_number %></td>
    <td><%= job.description %></td>
    <td><%= job.lot_quantity %></td>
    <td class=text-right><div>
      <%= link_to 'Show', job, class: 'btn btn-primary btn-xs' %>
      <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-info btn-xs' %>
      <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
    </div>
    </td>
  </tr>
  <% end %>
</table>
</div>
</body>
</html>
