<!DOCTYPE html>
<html>
<head>
<style>
.btn:hover {
  background-color:#cbdb2a
}

.btn:focus {
  background-color:#cbdb2a
}
</style>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Lots View', jobs_path %></li>
  <li><%= link_to 'New Lot', new_job_path %></li>
  <li><%= link_to 'Parts View', parts_path %></li>
  <li><%= link_to 'New Part', new_part_path %></li>
</ul>

<table class="table table-sm table-striped">
  <tr>
    <th><%= "Lot" %></th>
    <th><%= "Part" %></th>
    <th><%= "Description" %></th>
    <th><%= "Lot Quantity" %></th>
    <th><%= "Test Quantity" %></th>
    <th><%= "Create Date" %></th>
    <th><%= "Status" %></th>
    <th>Actions</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.id, edit_job_path(job) %></td>
      <td><%= job.part_id %></td>
      <td><%= job.part.description %></td>
      <td><%= job.lot_quantity %></td>
      <td><%= job.test_quantity %></td>
      <td><%= job.created_at.strftime("%B %d, %Y") %></td>
      <td><%= job.lot_complete %>
      <td width="4%"><div>
        <!-- <%= link_to 'Show', job, class: 'btn btn-dark btn-xs' %> -->
        <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-xs' %>
      </div>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Export Data to Excel", jobs_path(format: "xlsx") %>
</div>
</body>
</html>
