<!DOCTYPE html>
<html>
<head>
<style>
.btn:hover {
  background-color:#cbdb2a
}
.btn:focus {
  background-color:#cbdb2a
}
</style>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Lots View', jobs_path %></li>
  <li><%= link_to 'New Lot', new_job_path %></li>
  <li><%= link_to 'Parts View', parts_path %></li>
  <li><%= link_to 'New Part', new_part_path %></li>
</ul>
<%= smart_listing_render(:jobs) %>

<%= link_to "Export Data to Excel", jobs_path(format: "xlsx") %>
</div>
</body>
</html>
