<!DOCTYPE html>
<html>
<head>
  <title>F-63</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="https://www.revisionmilitary.com/pub/media/favicon/default/revision.png">
</head>

<body>
  <%= form_with scope: :job, local: true do |form| %>
<div class="container-fluid">
  <table id="mfg" class="table">
  <tr>
    <td><%= form.label :wv, 'WV/PV#' %><%= form.text_field :wv, class: 'form-control' %></td>
    <td><%= form.label :line, "Release/Line#" %><%= form.text_field :line, class: 'form-control' %></td>
    <td><%= form.label :part, "Part#" %><%= form.text_field :part, class: 'form-control' %></td>
    <td><%= form.label :date, "Coating Date" %><%= form.text_field :date, class: 'form-control' %></td>
    <td><%= form.label :time, "Coating Time" %><%= form.text_field :time, class: 'form-control' %></td><br>
  </tr>
  <tr>
    <td><%= form.label :description %><%= form.text_field :description, class: 'form-control' %></td>
    <td><%= form.label :lot_qantity, "Lot Quantity" %><%= form.text_field :lot_quantity, class: 'form-control' %></td>
    <td><%= form.label :test_quantity, "Quantity of Test Samples" %><%= form.text_field :test_quantity, class: 'form-control' %></td>
    <td><%= form.label :bin, "Bin/Box Count" %><%= form.text_field :bin, class: 'form-control' %></td>
    <td><%= form.label :mfg_int, "Initial" %><%= form.text_field :mfg_int, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><button type="submit" class="btn btn-primary">Save</button>
  </table>
</hr>
</div>


<div class="container-fluid">
  <div class="form-group">
  <div class="row">
    <div class="col">
      <h4>VLT</h4>
    </div>
  </div >
  <div class="form-row">
    <div class="col">
      <input id="VLT-1" class="form-control" placeholder="Sample 1">
    </div>
    <div class="col">
      <input id="VLT-2" class="form-control" placeholder="Sample 2">
    </div>
    <div class="col">
      <input id="VLT-3" class="form-control" placeholder="Sample 3">
    </div>
    <div class="col">
      <select class="form-control" id="VLT-ass" placeholder="Sample 3">
        <option value="" disabled selected>Assessment</option>
        <option>Pass</option>
        <option>Fail</option>
      </select>
    </div>
    <div class="col">
      <input id="VLT-int" class="form-control" placeholder="Initial">
    </div>
  </div>
  </div>

  <div class="form-group">
  <div class="row">
    <div class="col">
      <h4>Neutrality</h4>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input id="Neutrality-1" class="form-control" placeholder="Sample 1">
    </div>
    <div class="col">
      <input id="Neutrality-2" class="form-control" placeholder="Sample 2">
    </div>
    <div class="col">
      <input id="Neutrality-3" class="form-control" placeholder="Sample 3">
    </div>
    <div class="col">
      <select class="form-control" id="Neutrality-ass" placeholder="Sample 3">
        <option value="" disabled selected>Assessment</option>
        <option>Pass</option>
        <option>Fail</option>
      </select>
    </div>
    <div class="col">
      <input id="Neutrality-int" class="form-control" placeholder="Initial">
    </div>
  </div>
  </div>

</div>
<% end %>
</body>
</html>
