<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to 'Jobs View', jobs_path %></li>
      <li class="active"><%= link_to 'New Job', new_job_path %></li>
      <li><%= link_to 'Parts View', parts_path %></li>
      <li><%= link_to 'New Part', new_part_path %></li>
  </ul>

  <%= form_with scope: :job, url: jobs_path, local: true do |form| %>
    <% if @job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
        <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group well" style="margin-top:2%">
    <legend>Manufacturing</legend>
    <div class="row form-group">
      <div class="col"><%= form.label :id, 'WV/PV'%><%= form.text_field :id, class: 'form-control'%></div>
      <div class="col"><%= form.label :part_id, "Part"%><%= form.text_field :part_id, class: 'form-control'%></div>
      <div class="col"><%= form.label :line, "Release/Line"%><%= form.text_field :line, class: 'form-control'%></div>
      <div class="col"><%= form.label :coat_date, "Coating Date"%><%= form.date_field :coat_date, class: 'form-control'%></div>
      <div class="col"><%= form.label :coat_time, "Coating Time"%><%= form.time_field :coat_time, class: 'form-control'%></div>
    </div>

    <div class="row form-group">
      <div class="col"><%= form.label :lot_quantity, "Lot Quantity"%><%= form.text_field :lot_quantity, class: 'form-control'%></div>
      <div class="col"><%= form.label :test_quantity, "Sample Quantity" %><%= form.text_field :test_quantity, class: 'form-control'%></div>
      <div class="col"><%= form.label :bin, "Bin/Box Count"%><%= form.text_field :bin, class: 'form-control'%></div>
      <div class="col"><%= form.label :mfg_int, "Initial"%><%= form.text_field :mfg_int, class: 'form-control'%></div>
      <div class="col" style="padding-top: 24px"><%= form.submit class: "btn btn-primary btn-block"%></div>
    </div>
  </div>
  <% end %>
</div>
</body>
</html>
