<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to 'Lots View', jobs_path %></li>
      <li><%= link_to 'New Lot', new_job_path %></li>
      <li><%= link_to 'Parts View', parts_path %></li>
      <li><%= link_to 'New Part', new_part_path %></li>
      <li class="active"><%= link_to 'Show Lot', job_path(@job) %></li>
      <li><%= link_to 'Test Lot', edit_job_path(@job) %></li>
    </ul>
<div class='row'>
  <div class='col-3'>
    <h3> Manufacturing</h3>
  <p>
  <strong>WV:</strong>
  <%= @job.id %>
</p>
<p>
  <strong>Part:</strong>
  <%= @job.part_id %>
</p>
<p>
  <strong>Lot Quantity:</strong>
  <%= @job.lot_quantity %>
</p>
<p>
  <strong>Sample Quantity:</strong>
  <%= @job.test_quantity %>
</p>
<p>
  <strong>MFG Initial:</strong>
  <%= @job.mfg_int %>
</p>
</div>
<div class='col-4'>
  <h3>Part</h3>
  <p>
    <strong>Description:</strong>
    <%= @job.part.description %>
  </p>
  <p>
    <strong>Shape:</strong>
    <%= @job.part.shape %>
  </p>
  <p>
    <strong>Color:</strong>
    <%= @job.part.color %>
  </p>
  <p>
    <strong>Coating:</strong>
    <%= @job.part.coating %>
  </p>
  <p>
    <strong>Manufacturer:</strong>
    <%= @job.part.mfg %>
  </p>
</div>
<div class=col>
  <h3>Testing</h3>
  <p>
    <strong>Status:</strong>
    <%= @job.lot_complete %>
  </p>
  <% if @job.lot_assess %>
  <p>
    <strong>Assessment:</strong>
    Pass
  </p>
  <% end %>
  <p>
    <strong>MRR:</strong>
    <%= @job.mrr_id %>
  </p>
  <p>
    <strong>Receiver:</strong>
    <%= @job.receiver %>
  </p>
  <p>
    <strong>QC Initial:</strong>
    <%= @job.qc_int %>
  </p>
</div>
</div>
<!-- <%= link_to "Generate Test Folder", "/Initialize.vbs", download: @folder_name %> -->


</div>
</body>
</html>
